@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background: #ff941f;
}

.azul {
  color: #003579;
}

.azulbg {
  background: #003579;
  border-bottom: 2px solid #003579;
}

.blancobg {
  background: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.form-apply-background {
  background-image: url("./img/Group\ 3618@2x.png");
}

/************ begin FADE IN  ********/
.fadeIn {
  animation: fadeIn 0.7s;
  -webkit-animation: fadeIn 0.7s;
  -moz-animation: fadeIn 0.7s;
  -o-animation: fadeIn 0.7s;
  -ms-animation: fadeIn 0.7s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/**** end fadeIn *****/

/***** Begin fadeOUT ****/
.animated {
  /* background-image: url(/css/images/logo.png);
  background-repeat: no-repeat;
  background-position: left top; */
  /* padding-top: 95px; */
  /* margin-bottom: 60px; */
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
/****End FadeOut ****/
